<% include partials/header %>

<div class="ui sidebar inverted visible vertical menu">
    <div class="centered-container">
        <h2 class="ui center aligned icon header light-grey">
            <i class="user cirlce outline icon"></i>
        <div class="horizontal-line"></div>
            Jake Lamb
        </h2>
    </div>
    <a class="item">Home</a>
    <a class="item">Profile</a>
    <a class="item">Accounts</a>
    <a class="item">Help</a>
    <div class="footer fixed-bottom">
        <div class="divider"></div>
        <a class="item"><i class="copyright outline icon"></i>Jake Lamb -- 2019</a>
    </div>
</div>
<div class="pusher main-margin">
    <div class="ui secondary pointing menu">
        <a class="active item">
            Dashboard
        </a>
        <a class="item">
            Accounts
        </a>
        <a class="item">
            Analytics
        </a>
        <a class="item">
            Budgets
        </a>
        <div class="right menu">
            <a class="ui item">
            Logout
            </a>
        </div>
    </div>
    <div id="social-media-container">
        <div class="ui large header">Social Media<div class="j-blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="blue facebook icon"></i>Facebook</div>
                            <div class="ui facebook divider"></div>
                            <div class="ui vertical segment">Likes</div>
                            <div class="ui vertical segment">Shares</div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header"><i class="red instagram icon"></i>Instagram</div>
                        <div class="ui divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="google plus g icon"></i>Gmail</div>
                            <div class="ui google divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="google icon"></i>Google</div>
                            <div class="ui google divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ui large header">Digital Marketing<div class="blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Google Adwords</div>
                            <div class="ui blue divider"></div>
                            <div class="ui vertical segment">Likes</div>
                            <div class="ui vertical segment">Shares</div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header">Google Analytics</div>
                        <div class="ui divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Mail Chimp</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Facebook Ads</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ui large header">Digital Marketing<div class="blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Google Adwords</div>
                            <div class="ui blue divider"></div>
                            <div class="ui vertical segment">Likes</div>
                            <div class="ui vertical segment">Shares</div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header">Google Analytics</div>
                        <div class="ui divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Mail Chimp</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Facebook Ads</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accounts-container" class="main-container">

    </div>
    <div id="analytics-container" class="main-container">

    </div>
    <div id="budgets-container" class="main-container">

    </div>        
</div>

<style>

</style>

<% include partials/footer %>