<% include partials/header %>
<div id="main-nav" class="ui sidebar inverted visible vertical menu main-nav">
    <div class="centered-container">
        <h2 class="ui center aligned icon header light-grey">
            <i class="user cirlce outline icon"></i>
        <div class="horizontal-line"></div>
            Jake Lamb
        </h2>
    </div>
    <a class="item">Home</a>
    <a class="item">Profile</a>
    <a class="item">Accounts</a>
    <a class="item">Help</a>
    <div class="footer fixed-bottom">
        <div class="divider"></div>
        <a class="item"><i class="copyright outline icon"></i>Jake Lamb -- 2019</a>
    </div>
</div>
<div class="pusher main-margin">
<div class="top-menu-fixed">
    <div class="ui secondary pointing menu menu-shadow">
        <a id="dashboard" class="active item">
            Dashboard
        </a>
        <a id="accounts" class="item">
            Accounts
        </a>
        <a id="analytics" class="item">
            Analytics
        </a>
        <a id="budgets" class="item">
            Budgets
        </a>
        <div class="right menu">
            <a id="logout" class="ui item">
            Logout
            </a>
        </div>
    </div>
    </div>
    <div id="dashboard-container" class="content-container">
        <div class="ui large header">Social Media<div class="j-blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="blue facebook icon"></i>Facebook</div>
                            <div class="ui facebook divider"></div>
                            <div class="ui vertical segment">Likes - 
                            <%= avgLikes %>
                            </div>
                            <div class="ui vertical segment">Comments
                            <%= avgComments %>
                            </div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header"><i class="instagram icon"></i>Instagram</div>
                        <div class="ui instagram divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="google plus g icon"></i>Gmail</div>
                            <div class="ui google divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header"><i class="google icon"></i>Google</div>
                            <div class="ui google divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ui large header">Digital Marketing<div class="blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Google Adwords</div>
                            <div class="ui blue divider"></div>
                            <div class="ui vertical segment">Likes</div>
                            <div class="ui vertical segment">Shares</div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header">Google Analytics</div>
                        <div class="ui divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Mail Chimp</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Facebook Ads</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ui large header">Digital Marketing<div class="blue left horizontal-line"></div></div>
        <div class="ui segment">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Google Adwords</div>
                            <div class="ui blue divider"></div>
                            <div class="ui vertical segment">Likes</div>
                            <div class="ui vertical segment">Shares</div>
                            <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                        <div class="ui medium header">Google Analytics</div>
                        <div class="ui divider"></div>
                        <div class="ui vertical segment">Likes</div>
                        <div class="ui vertical segment">Shares</div>
                        <div class="ui vertical segment">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Mail Chimp</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Views</div>
                            <div class="ui vertical segment">Opens</div>
                            <div class="ui vertical segment">Responds</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui medium header">Facebook Ads</div>
                            <div class="ui divider"></div>
                            <div class="ui vertical segment">Avg Time</div>
                            <div class="ui vertical segment">Most Searched</div>
                            <div class="ui vertical segment">Most Visited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="accounts-container" class="content-container account-container first">
        <div id="social-media-accounts" >
            <div class="ui stackable two column grid">
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/facebook-logo.png" alt="Facebook Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Facebook
                                    </div>
                                    <div class="meta">
                                        Email : <span>jacobtaylorlamb@gmail.com</span>
                                    </div>
                                    <div class="description">
                                        This is your Facebook account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="four wide column">
                    <div class="ui segment col-desc">Social Media</div>
                </div>

                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/ig-logo.png" alt="Instagram Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Instagram
                                    </div>
                                    <div class="meta">
                                        Username : <span>@jacobtaylorlamb</span>
                                    </div>
                                    <div class="description">
                                        This is your Instagram account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-accounts account-container">
            <div class="ui stackable two column grid">
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="four wide column col-desc">
                    <div class="ui segment">Other Accounts</div>
                </div>

                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://localhost:8000/images/github-logo.png" alt="Github Logo">
                                </div>
                                <div class="content">
                                    <div class="ui large header">
                                        Github
                                    </div>
                                    <div class="meta">
                                        Username : <span>jlamb6</span>
                                    </div>
                                    <div class="description">
                                        This is your Github account
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </div>
    <div id="analytics-container" class="content-container">

    </div>
    <div id="budgets-container" class="content-container">

    </div>        
</div>

<style>

</style>

<% include partials/footer %>