.centered-container { 
        
    text-align: center;
    margin-top: 1.8em;
    color: white;
}

.horizontal-line {
    height: 2px;
    width: 70%;
    background-color: aqua;
    margin: 1em auto;
}

.j-blue {
    background-color: #3b5998;
}

.left {
    margin: 5px 0;
}

.light-grey {
    color: #ececec !important;
}

.fixed-bottom {
    position: absolute !important;
    bottom: 0;     
    width: 100%;
    padding: 0; 
}

.main-margin {
    margin: 20px 40px 40px 250px;
}

.main-container {
    display: none;
}
